html,
body {
    font-family: 'Raleway', sans-serif;
    width: 700px;
}

html p {
    padding: 5px 5px;
}

/* ========Home Page Mobile Styling Begins */
@media screen and (min-width: 600px) {
    h1,
h2,
h3 {
    padding-left: 5px;
}

.logo img {
    display: block;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70px;
}

.logo {
    height: 100px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.header {
    background-color: #3c3b3a
}

ul {
    text-align: center;
    padding-right: 48px;
}

/* Added a space at the bottom of each nav bar */
.nav ul li {
    padding-bottom: 30px;
}

a {
    color: seashell;
}

a:link {
    text-decoration: none;
    font-weight: bold;
}

/* Made the size of the text larger when clicked on */
a:active {
    font-size: larger;
}

/* Removed the bullets by the nav bars */
ul {
    list-style-type: none;
}

/* Added a space between the nav bars and the logo above them */
ul {
    padding-top: 20px;
}

.container {
    text-align: center;
}

.icons {
    display: grid;
    grid-template-columns: repeat(2, 100px);
    margin-left: 28%;

}

/* Arranged the icons according to the mock-up and added a space between them */
.climbing {
    order: -2;
    padding-left: 50px;
    padding-bottom: 10px;
}

/* Unwrapped the texts under the icons */
.climbing p {
    white-space: nowrap;
}

.dumbbell p {
    white-space: nowrap;

}

.bball p {
    white-space: nowrap;
    margin-left: 15px;
}

.bowling {
    order: -3;
    margin-left: -60px;
}

.dumbbell {
    order: -1;
    margin-left: -100px;
}

/* Adjusted the icons so they could stay in the center of the texts below them */
.bl {
    width: 110px;
}

.cl {
    width: 195px;
    margin-bottom: -10px;
}

.ic {
    width: 195px;
}

/* Added a space between items */
.bball {
    padding-left: 50px;
}

.arc h1 {
    font-size: 60px;
    text-align: left;
}

.arc p {
    font-size: 29.9px;
    text-align: left;
    margin-top: -20px;
}

.icons p {
    margin-top: -1px;
    color: #26a682;
}

.getstarted {
    font-size: 35px;
    background-color: #26a682;
    border-radius: 30px;
    display: inline;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: -100px;
}

.discimage {
    width: auto;
    height: 20px;
    margin-top: 50px;
    margin-bottom: 350px;
}

.skl {
    width: 50%
}

.skl2 {
    text-align: left;
}

.skl2 h2 {
    font-style: italic;
}

.skl2 p {
    margin-top: -5px;
}

.largetext {
    color: #26a682;
    margin-top: -10px;
    margin-bottom: -10px;

}


.president {
    background-color: #3c3b3a;
    color: white;
    text-align: left;
    padding-bottom: 20px;
    margin-top: 10px;
}

.president img {
    border-radius: 50%;
    margin-left: 38.5%;
    width: 160px;
    height: 160px;
}

.president h3 {
    text-align: center;
}

.ent2 p {
    text-align: left;
}

.ent2 h3 {
    text-align: left;
}

.ent2 h4 {
    text-align: left;
    color: #26a682;
    margin-top: -10px;
}

.ent2 p {
    margin-top: -20px;
}

.learn {
    font-size: 25px;
    background-color: #26a682;
    border-radius: 30px;
    display: inline;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 50%;
    margin-bottom: 150px;
    box-shadow: #ccc 2px 5px;
}


.footer {
    background-color: #3c3b3a;
    margin-top: 10px;
}

.footer h3 {
    color: white;
}

.arrow {
    margin-left: 70%;
    margin-top: -50%;
}

.footer p {
    color: white;
    padding-left: 70%;
}

.follow {
    padding-top: 10%;
}

/* ================Home page mobile styling ends========================= */

/* ---------------------------------------------------------------- */

/* ================About page mobile styling begins====================== */

.construction h1 {
    font-size: 60px;
}

.construction P {
    font-size: 29.9px;
    text-align: left;
    margin-top: -20px;
}

.about {
    position: relative;
    text-align: center;
    color: white;
    font-size: 30px;
}

.center {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Added a colour overlay to the image */
.about {
    background-color: #26a682;
}

.about img {
    object-fit: cover;
    opacity: 0.5;
}

.www h2 {
    font-style: italic;
}

.www p {
    margin-top: -20px;
    font-size: 20px;
}

/* Added a colour overlay to the image */
.services {
    background-color: #26a682;
    position: relative;
    text-align: center;
    color: white;
    font-size: 30px;
}

.services img {
    object-fit: cover;
    opacity: 0.5;
}

/* Aligned the text to the center of the image */
.servcenter {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.break h2 {
    font-size: 30px;

}

.grey {
    background-color: #eaeaea;
}

.break h3 {
    color: #26a682;
}

.break p {
    margin-top: -20px;
    font-size: 20px;
}

.subscribe p {
    text-align: center;
    font-size: 20px;
    color: white;
    margin-top: -18px;
    padding-top: 30px;
}

.sub {
    font-size: 25px;
    background-color: #26a682;
    border-radius: 30px;
    display: inline;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 40px;
    margin-left: 38%;
}

.subscribe {
    background-color: #3c3b3a;
    padding-bottom: 30px;
}

.new-climbing h2 {
    font-size: 30px;
}

.new-climbing h3 {
    color: #26a682;
}

.new-climbing p {
    font-size: 20px;
}

.grey2 {
    background-color: #eaeaea;
    padding-top: 20px;
    padding-bottom: 20px;
}

.thankyou h1 {
    font-size: 50px;
    text-align: center;
    width: 280px;
    position: relative;
    left: 200px;
}

.thankyou img {
    padding-left: 100px;
    width: 70px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    position: relative;
    left: 200px;
}

.follow2 {
    position: relative;
    left: 280px;
    padding-top: 10%;
}

/* ===============About page mobile styling ends======================*/

/* ================Contact page mobile styling begins=============*/

.contact h1 {
    font-size: 100px;
    text-align: left;
}

.contact p {
    font-size: 35px;
    margin-top: -50px;
}

.form {
    background-color: #26a682;
    border-radius: 30px;
    color: white;
    width: 350px;
    position: relative;
    left: 200px;
}

.form h2 {
    padding-left: 70px;
    font-size: 40px;
}

.form label {
    padding-left: 20px;
    font-size: 20px;
}

input[type=text] {
    margin-left: 20px;
    font-size: 20px;
    border-radius: 15px;
    border: none;
}

#message {
    margin-bottom: 10px;
    margin-left: 20px;
    width: 290px;
    border: none;
    border-radius: 15px;
}

::placeholder {
    font-size: 20px;
}

input[type=submit] {
    background-color: #3c3b3a;
    color: white;
    padding: 10px 5pc;
    margin-left: 0px;
    margin-bottom: 30px;
    border-radius: 20px;
}

.location h2 {
    font-size: 50px;
}

.location p {
    font-size: 25px;
}

.follow3 {
    margin-left: 35%;
    padding-top: 10%;
}

}

/* Contact page mobile styling ends */
/* ============Mobile Styling Ends============== */

/* ===================================================== */

/* ===================
Tablet Styling
==================== */

/* ==========Homepage tablet styling============== */

@media screen and (min-width: 900px) {

    html,
    body {
        width: 1150px;
    }

    .logo {
        margin-left: -120px;
    }

    .logo img {
        width: 250px;
    }

    .nav ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        height: 150px;
        padding-left: 500px;
    }

    ul li {
        font-size: 30px;

    }

    ul a {
        padding-right: 50px;
    }

    .arc h1 {
        font-size: 120px;
    }

    .arc p {
        font-size: 40px;
    }

    .icons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .bowling {
        margin-left: -300px;
    }

    .bowling p {
        font-size: 30px;
    }

    .bball p {
        font-size: 30px;
    }

    .dumbbell p {
        font-size: 30px;
    }

    .climbing p {
        font-size: 30px;
    }

    .getstarted {
        font-size: 50px;
        margin-left: -20px;
    }

    .skl img {
        width: 1200px;
        height: 400px;
    }

    .skl2 {
        margin: 35px 35px;
        font-size: 25px;
    }

    .skl2 h2 {
        font-style: italic;
    }

    .learn {
        font-size: 30px;
    }

    .president {
        display: flex;
        flex-direction: column;
    }

    .president h3 {
        font-size: 30px;
        padding-right: 750px;
    }

    .president p {
        font-size: 20px;
        width: 300px;
        padding-left: 700px;
    }

    .president img {
        width: 160px;
        height: 160px;
    }

    .ent img {
        width: 100%;
        height: auto;
    }

    .ent2 {
        font-size: 25px;
        margin: 35px 35px;
    }

    .ent2 h3 {
        font-style: italic;
    }

    .follow img {
        padding: 5px;
    }

    /* ===========Homepage tablet styling ends==================== */

    /* ==================================================== */

    /* ===========About page tablet styling begins================ */

    .construction h1 {
        font-size: 70px;
    }

    .construction img {
        margin: 15px 150px
    }

    .about img {
        width: 100%;
    }

    .www {
        margin: 0px 120px 0px 120px;
    }

    .services img {
        width: 100%;
    }

    .break h2 {
        font-size: 40px;
        margin: 0px 60px 0px 60px;
    }

    .break h3 {
        font-size: 30px;
        margin: 0px 60px 0px 60px;
    }

    .break p {
        margin: 0px 60px 25px 60px;
    }

    .new-climbing h2 {
        font-size: 40px;
        margin: 0px 60px 0px 60px;

    }

    .new-climbing h3 {
        font-size: 30px;
        margin: 0px 60px 0px 60px;
    }

    .new-climbing p {
        margin: 0px 60px 0px 60px;
    }

    .thankyou {
        display: flex;
        flex-direction: column;
    }

    .thankyou img {
        margin-left: 220px;
    }

    .follow2 h3 {
        padding-left: 40px;
    }

    .follow2 img {
        padding: 5px;
    }

    /* ===========About page tablet styling ends================ */

    /* =================================================== */

    /* ============Contact page tablet styling begins============= */

    .contact h1 {
        font-size: 120px;
    }

    .contact img {
        width: 100%;
    }

    .form {
        padding-left: 200px;
    }

    .location h2 {
        margin: 0px 60px 0px 60px;
    }

    .location p {
        margin: 0px 60px 0px 60px;
    }

    iframe {
        width: 100%;
    }

    .follow3 h3 {
        padding-left: 40px;
    }

    .follow3 img {
        padding: 5px;
    }

    /* ============Contact page tablet styling ends============= */

    /* ========================================================= */

    /* ===================
    Desktop Styling
    ==================== */

    /* Homepage Desktop styling begins */

    @media screen and (min-width: 1200px) {

        html,
        body {
            max-width: 100%;
            height: auto;
        }

        .header {
            width: 1500px;
            height: auto;
        }

        .discimage {
            padding-left: 1500px;
            width: 750px;
            height: auto;
            position: relative;
            right: 800px;
            bottom: 200px;
        }

        .discimage img {
            margin-top: -380px;
            width: 700px;
            height: auto;
        }

        .getstarted {
            margin-right: 750px;
        }

        .container {
            margin: 0px 0px 0px 25px;
        }

        .arc {
            width: 750px;
            position: relative;
            bottom: 40px;
        }

        .arc p {
            margin-top: -100px;
        }

        .icons p {
            font-size: 20px;
            padding-top: 50px;
            width: 150px;
        }

        .bowling {
            position: relative;
            left: 89px;
            top: 6px;
        }

        .bl {
            position: relative;
            right: 16px;
        }

        .dumbbell i {
            position: relative;
            right: 12px;
        }

        .cl {
            padding-right: 125px;
            position: relative;
        }

        .climbing p {
            position: relative;
            bottom: 8px;
            left: 28px;
        }

        .dumbbell {
            padding-top: 6px;
        }

        .bball {
            position: relative;
            right: 30px;
            top: 8px;
        }

        .ic {
            position: relative;
            right: 20px;
        }

    }

    .getstarted {
        font-size: 30px;
        position: relative;
        left: 180px;
        top: 20px;
        display: inline-block;
        width: 200px;
    }

    .skl {
        margin-top: -500px;
    }

    .skl img {
        width: 750px;
        position: relative;
        left: 30px;
        bottom: 90px;
    }

    .skl2 {
        padding-left: 1150px;
        margin-top: -350px;
        width: 650px;
        position: relative;
        right: 390px;
        bottom: 50px;
        font-size: 20px;

    }

    .president {
        width: 1500px;
        height: auto;
        position: relative;
        bottom: 40px;
        margin-left: -30px;
    }

    .president img {
        position: relative;
        right: 500px;
        top: 100px;
    }

    .president h3 {
        position: relative;
        right: 0px;
        bottom: 50px;
        margin-bottom: -30px;
    }

    .president p {
        width: 800px;
        position: relative;
        bottom: 115px;
        right: 100px;
    }

    .ent {
        width: 750px;
        position: relative;
        left: 750px;
    }

    .ent img {
        padding-bottom: 30px;
        position: relative;
        right: 30px;
    }

    .ent2 {
        width: 750px;
        position: relative;
        bottom: 500px;
    }

    .ent2 p {
        padding-right: 60px;
    }

    .ent2 a {
        position: relative;
        top: 60px;
    }

    .footer {
        width: 1500px;
        position: relative;
        bottom: 1950px;
        margin-top: -650px;
    }

    .follow3 h3 {
        position: relative;
        right: 420px;
    }

    .follow3 img {
        position: relative;
        right: 400px;
    }

    .backtotop img {
        position: relative;
        right: 130px;
    }

    .backtotop p {
        position: relative;
        right: 120px;
    }



    /* Homepage Desktop Styling Ends */

    /* About Page Desktop Styling Begins */

    .construction {
        width: 750px;
        margin-bottom: -300px;
        position: relative;
        left: 70px;
    }

    .construction img {
        width: 750px;
        position: relative;
        bottom: 450px;
        left: 600px;
    }

    .about {
        width: 1500px;
    }

    .www {
        display: flex;
        flex-direction: row;
        padding-top: 80px;
        width: 1500px;
        margin-bottom: 80px;
        margin-top: 80px;
        position: relative;
        right: 160px;
    }

    .www h2 {
        position: relative;
        top: -70px;
        left: 65px;
    }

    .services {
        width: 1500px;
    }

    .brkimg {
        position: relative;
        left: 80px;
        top: 50px;
    }

    .break {
        width: 750px;
        position: relative;
        top: -250px;
        left: 650px;
    }

    .grey {
        position: relative;
        left: 80px;
        font-size: 21px;
        width: 600px;
        bottom: 80px;
        background-color: white;
    }

    .legs {
        width: 750px;
    }

    .legs img {
        position: relative;
        right: 500px;
        bottom: 85px;
    }

    .subscribe {
        width: 1500px;
        position: relative;
        bottom: 290px;
        display: flex;
        flex-direction: row;
    }

    .subscribe p {
        position: relative;
        left: 450px;
        top: 23px;
    }

    .subscribe a {
        position: relative;
        right: 120px;
        bottom: 7px;
    }

    .grey h3 {
        color: #26a682;
        position: relative;
        bottom: 15px;
    }

    .grey p {
        position: relative;
        bottom: 45px;
    }

    .legs {
        position: relative;
        left: 1200px;
        top: -250px;
    }

    .fitness img {
        width: 600px;
        height: 300px;
        position: relative;
        bottom: 250px;
        left: 150px;
    }

    .nynm {
        width: 750px;
        position: relative;
        bottom: 562px;
        left: 710px;
    }

    .grey2 {
        width: 750px;
        position: relative;
        left: 50px;
        bottom: 450px;
    }

    .grey3 img {
        width: 600px;
        height: 254px;
        position: relative;
        left: 800px;
        bottom: 702px;
    }

    .thankyou h1 {
        width: 500px;
        font-size: 55px;
        position: relative;
        left: 505px;
        bottom: 600px;
        margin-bottom: -200px;
    }

    .thankyou img {
        width: 120px;
        height: 100px;
        position: relative;
        top: 300px;
    }

    .tyi {
        display: flex;
        flex-direction: row;
        position: relative;
        bottom: 550px;
        right: 490px;
        margin-bottom: -250px;
    }

    .footer {
        width: 1500px;
        position: relative;
        top: 950px;
        margin-top: -500px;

    }

    .follow2 {
        position: relative;
        left: 605px;
        top: 20px;
        padding-top: 10px;
    }
    .follow2 img {
        position: relative;
        left: 53px;
    }

    .follow2 h3 {
        position: relative;
        left: 50px;

    }

    .backtotop {
        position: relative;
        left: 250px;
        top: 5px;
    }

    /* About Page Desktop Styling ends */
    /* ==================================================== */
    /* Contact Page Desktop Styling Begins */

    .contact h1 {
        font-size: 60px;
        width: 700px;
        position: relative;
        left: 80px;
    }

    .contact p {
        font-size: 20px;
        width: 800px;
        position: relative;
        left: 88px;
        top: 30px;
    }

    .contact img {
        position: relative;
        right: 100px;
        top: 30px;
    }

    .form {
        position: relative;
        left: 900px;
        bottom: 570px;
        width: 180px;
    }

    .form h2 {
        position: relative;
        right: 180px;
        width: 250px;
        font-size: 40px;
    }

    .form label {
        position: relative;
        right: 170px;
        font-size: 20px;

    }

    input[type=text] {
        position: relative;
        right: 170px;
        font-size: 20px;
        border-radius: 15px;
        border: none;

    }

    #message {
        margin-bottom: 10px;
        margin-left: 20px;
        width: 290px;
        border: none;
        border-radius: 15px;
        position: relative;
        right: 170px;
    }

    ::placeholder {
        font-size: 20px;
    }

    input[type=submit] {
        background-color: #3c3b3a;
        color: white;
        padding: 10px 25px;
        margin-left: 0px;
        margin-bottom: 30px;
        border-radius: 20px;
        position: relative;
        left: 45px;
    }

    .location {
        position: relative;
        bottom: 450px;
        left: 10px;
        width: 750px;
    }

    .location .asca {
        font-size: 25px;
        width: 600px;
    }
    

    .location p {
        font-size: 15px;
        width: 270px;
    }
    .location iframe {
        position: relative;
        left: 600px;
        bottom: 150px;
    }
    .footer {
        margin-top: -1100px;
        
    }
    .follow3 {
        position: relative;
        left: 150px;
        bottom: 60px;
    }
    .backtotop {
        position: relative;
        bottom: 50px;
    }
    .backtotop p {
        position: relative;
        right: 130px;
    }


}