body{
    background-color: #aad4cf;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul li {
    display: inline-block;
    width: 15%; 
}

a{
    text-decoration: none;
    color: black;
    font-size: 25px;
}

nav ul li{
    padding-top: 0px;
}



#image1{
        display: block;
        margin-left: auto;
        margin-right: auto;
}

h1{
    text-align: center;
}

.container {
    position: relative;
    text-align: center;
    color: white;
  }

#center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#align{
    display: inline-block;
    width: 250%;
    box-sizing: border-box;
    border-right: 1px solid black;
}

.content{
    max-width: 680px;
    margin: auto;
    background: #d4e9e7;
    padding: 10px;
}

.image2{
    float: left;
}

.site-footer{
    text-align: right;
}