html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* --------------------------------
           Mobile Styles
------------------------------------ */

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background-color: #222;
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 5px;
}

.nav-list {
  color: #c78c06;
}

.main-nav {
  text-align: center;

}

.search {
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 20px 0px;
  display: flex;
  box-sizing: border-box;
  height: 40px;
  justify-content: center;
}

.searchTerm {
  width: 100%;
  border-right: none;
  padding: 4px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
}



.searchButton {
  width: 40px;
  height: 34px;
  color: #c78c06;
  border: 1px solid #c78c06;
  background-color: black;
}

nav a {
  text-decoration: none;
}

nav {
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto 25px;
  line-height: 80px;
  font-size: ;
}

nav ul li a {
  color: #c78b07;
  display: block;
  text-align: center;
  font-size: 20px;
}

.banner {
  background: url('../images/main-banner.jpg');
  height: 1000px;
  max-width: 1200px;
  margin: 0 auto;
}


.logo {
  background-color: #c78b07;
  margin: 0 20px;
}

.home {
  background-color: #c78b07;
  color: black;
}




h1 {
  font-size: 130px;
  color: white;
  text-align: left;
  padding-top: 100px;
  padding-bottom: 50px;
  padding-left: 50px;
}

.containerw {
  text-align: justify;
  background: rgb(0 0 0 / 55%);
  padding: 30px;
  position: relative;
  top: 120px;
  max-width: 1200px;
  margin: 0 auto;
}


.connect {
  overflow: hidden;
  padding-top: 20px;
}

.connect a {
  background-color: #c78b07;
  color: #000;
  padding: 20px 50px;
  font-size: 50px;
  display: flex;
  align-items: center;
  float: left;
  text-decoration: none;
  padding-top: 40px;
  padding-bottom: 40px;
}

.connect a::after {
  content: '';
  display: block;
  border-top: 12px solid transparent;
  border-left: 20px solid #000;
  border-bottom: 12px solid transparent;
  margin-left: 30px;
}

.banner p {
  line-height: 48px;
  font-size: 30px;
  color: #fff;
  text-align: left;
  padding-left: 50px;
}

.about {
  background-color: #FFE6AC;
  background-position: center;
  height: auto;
  max-width: 1200px;
  margin: 0 auto;
}


h2 {
  font-size: 100px;
  padding-left: 20px;
}

.about p {
  font-size: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
}


h3 {
  font-size: 100px;
  text-align: left;
  padding-bottom: 20px;
}

.button {
  overflow: hidden;
  padding-top: 20px;
}

.button a {
  background-color: #000;
  color: #fff;
  padding: 20px 50px;
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: left;
  text-decoration: none;
}

.button a::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 12px solid transparent;
  border-left: 20px solid #fff;
  border-bottom: 12px solid transparent;
  margin-left: 30px;
}

h4 {
  font-size: 70px;
}

.aboutimage img {
  height: auto;
  width: 1200px;
  box-sizing: border-box;
  padding-top: 20px;
  padding: 20px 20px;
}

/* Our services styling */

.services {
  padding-top: 30px;
}

.services dd {
  background-color: #FFE6AC;
  padding: 20px;
}

.services p {
  font-size: 30px;
}

.container .services img {
  height: auto;
  width: 1200px;
}

.marketing .bg {
  background-color: #FFE6AC;
  padding: 20px;
}

.marketing p {
  font-size: 30px;
}

.marketing img {
  height: auto;
  width: 1200px;
}

.video .bg {
  background-color: #FFE6AC;
  padding: 20px;
  font-size: 30px;
}

.video img {
  height: auto;
  width: 1200px;
}

.web .bg {
  background-color: #FFE6AC;
  padding: 20px;
  font-size: 30px;
}

.web img {
  height: auto;
  width: 1200px;
}

.print .bg {
  background-color: #FFE6AC;
  padding: 20px;
  font-size: 30px;
}

.print img {
  height: auto;
  width: 1200px;
}

.vision {
  background: url(../images/vision.jpg) 0 center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  background-size: cover;
  overflow: hidden;
  color: white;
  margin-top: 50px;
  margin-bottom: 30px;
}


.vision h4 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.vision p {
  font-size: 30px;
  padding-bottom: 30px;
}

.learn {
  padding-top: 100px;
  overflow: hidden;
  padding-top: 20px;
}

.learn {
  background-color: rgb(0 0 0 / 35%);
  color: #fff;
  padding: 20px 50px;
  padding-bottom: 40px;
  float: left;
}

.learn a {
  text-decoration: none;
  color: white;
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 50px;
}

/* Our team styling */

.team h4 {
  margin-bottom: 20px;
}


.team img {
  height: auto;
  width: 1200px;
}

.team .thick {
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 30px;
  border-bottom: 4px solid #c78c06;

}

.john p {
  font-size: 30px;
  margin-bottom: 20px;

}

.john {
  background-color: #ffe6ac;
  padding: 20px 20px;
}

.bob p {
  font-size: 30px;
  margin-bottom: 20px;
}

.bob {
  background-color: #ffe6ac;
  padding: 20px 20px;
}

.contact h4 {
  margin-top: 30px;
}

.contact p {
  font-size: 30px;
  font-weight: bold;
}

.hours p {
  font-size: 30px;
  font-weight: bold;
}

/* Location styling */

.location p {
  font-size: 30px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
}

.location iframe {
  width: 100%;
}

/* Contact page styling */
.contactus p b {
  font-size: 40px;
  line-height: 36px;
  margin-bottom: 10px;
}

.contactus ul {
  padding-top: 15px;
}

.contactus p {
  line-height: 40px;
  font-size: 24px;
}

.contactus ul li input {
  height: 68px;
  width: 100%;
}

.contactus ul li textarea {
  height: 200px;
  width: 100%;
}

.contactus ul li button {
  color: #ffe6ac;
  height: 36px;
  width: 80px;
  font-size: 20px;
  background-color: #444;
  margin-top: 20px;
}

.contactus .hours {
  margin-top: 20px;
}

.contactus ol {
  display: flex;
  height: 68px;
  line-height: 68px;
}

.contactus ol.dah {
  background-color: #FFE6AC;
  text-align: center;
}

.contactus ol .dnh li {
  text-align: center;
}

.contactus ol li {
  border: 1px solid #444;
  width: 50%;
  font-size: 20px;
  text-align: left;
  text-indent: 20px;
}

.hours {
  padding: 10px 0 20px;
}

/* Footer styling */

.site-footer {
  background-color: #222;
  max-width: 1400px;
  margin: 0 auto;
  font-size: 20px;
  color: #c78c06;
  padding-top: 30px;
  padding-bottom: 30px;
}

.site-footer .copy {
  padding-bottom: 20px;
}

.site-footer p a {
  color: #c78c06;
}

/* 
======================================================================
                      DESKTOP STYLES
======================================================================
*/

@media screen and (min-width: 760px) {

  nav ul li {
    list-style: none;
    display: inline-block;
    text-align: center;
    min-width: fit-content;
    padding: 20px 35px;
    font-size: 1em;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 90px;
    padding-right: 90px;
    height: 140px;
  }

  .logo {
    background: none;
  }




.about{
  display: grid;
  grid-template-areas:
  "image texts";
}
  .aboutimage: image;
  .abouttext: texts;
}
   
        grid-template-areas:
            "title title title title title title"
            "digital digital digital marketing marketing marketing"
            "video video web web print print";

}

h3{
  grid-area: title;
}

.digital{
  grid-area: digital;
}

.marketing{
  grid-area:marketing;
}

}